<template>  
<body>


 <nav  class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
			<div class="navbar-header">
			<a href="./dashboard.html"><img class="imagestyle" src="../assets/images/book.png"></a>
			<span class="txt1">i</span><span class="txt2">B</span><span class="txt3">oo</span><span class="txt2">k </span><span class="txt5" > </span>

 <a class="navbar-header" style="padding-left:80vw; padding-right:10px">
					<button onclick="myFunction()" class="btn navbar-btn "><img class="icon" src="../assets/images/logout.png">Logout</button>
 </a>
			</div>
			</div>
    </nav>	
  <div class="sidebar">
  <a href="../"><img class="icon" src="../assets/images/dashboard.png"> Dashboard</a>
  <a href="../"><img class="icon" src="../assets/images/patron.png"> Patron Management</a>
  <a href="./bookmanagement.html"><img class="icon" src="../assets/images/edit2.png"> Book Management</a>
  <a href="#home"><img class="icon" src="../assets/images/settings.png"> Settings</a>
</div>

</body>
</template>



