<template>

  <div id="book">
    <div class="home">
      <Header></Header>
      <patronmanagement></patronmanagement>
    </div>
  </div>
</template>

<script>

import Header from './components/Header';
import patronmanagement from './patronmanagement';
export default {
  name: 'Book',
  components: {
    Header ,
    patronmanagement,
  }
}
</script>

   