<template>

<div class="content" style="padding-top: 30px">
    
<h style="color: #9a9ca5">Internet connection required to load Dashboard!</h>
<div class="container" style="padding-top:px">
		<div class="container-fluid">
				<div class="col-xs-12 col-sm-6 col-lg-4 thumb" style="width: 400px; height: 300px;  ">

                    <table>
                        <tr>
                        <th style="padding-right:150px">
                            <pie-chart :data="[['Stocks', 8],['Books Supply', 4], ['Books Borrowed', 7],['Damage Books', 1]]"></pie-chart> </th>
                           
                        <th>
                            <column-chart :data="[['Sun', 32], ['Mon', 46], ['Tue', 28]]"></column-chart></th>
                        
                        </tr>
                    </table>
                    
                </div>
			</div>
		</div>
</div> 

</template>
<script href="https://unpkg.com/vue/dist/vue.js">
</script>
