.form{
	padding-left: 100px;
	padding-right: 50px;
}

.input{
	background: #F0F3F7;
border: 1px solid #ACB4BD;
box-sizing: border-box;

}

#btnicon{
	background-color: #ED7943;

}

span.txt1{
	color: white;
}
span.txt2{
	color: #373F49;;
}
span.txt3{
	color:  #ED7943;;
}

.logout{
	text-align: left;
}
nav {
	padding-right: 30px
}

.logouti{
	width: 46px;
height: 34px;
left: 1329px;
top: 57px;
}
.icon{

width: 42px;
height: 31px;
left: 28px;
top: 176px;

}
.imagestyle{
padding-left: 10px;
width: 63px;
height: 46px;
left: 27px;
top: 50px;
}
.navbar{

font-family:  Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;



background: #ACB4BD;
border: 1px solid #C4C4C4;
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding-top: 50px;
  width: 263px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
	 padding-top: 50px;
  margin-left: 263px;
  padding: 1px 16px;
  height: 54px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* Bar graph */




 table 
        {
            width: 100%;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
      
        input[type='button'] 
        {
            cursor: pointer;
            border: none;
            color: #FFF;
        }
        
        input[type='text'], select 
        {
            
            border: solid 1px #CCC;
            width: auto;
            padding: 2px 3px;
        }


/* end Bargraph*/

td, th {
  border: 1px solid #ddd;

}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ACB4BD;;
  color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form{
	padding-left: 100px;
}

.input{
	padding-left: 20px;
}