@import "~bootstrap/scss/bootstrap";
.form{
	padding-left: 100px;
	padding-right: 50px;
}

.input{
	background: #F0F3F7;
border: 1px solid #ACB4BD;
box-sizing: border-box;

}

#btnicon{
	background-color: #ED7943;

}
span.txt1{
	color: white;
}

span.txt4{
	color: #373F49;;
}

span.txt2{
	color: #373F49;;
}
span.txt3{
	color:  #ED7943;;
}

.logout{
	text-align: left;
}
nav {
	padding-right: 30px
}

.logouti{
	width: 46px;
height: 34px;
left: 1329px;
top: 57px;
}
.icon{

width: 42px;
height: 31px;
left: 28px;
top: 176px;

}
.imagestyle{
padding-left: 10px;
width: 63px;
height: 46px;
left: 27px;
top: 50px;
}
.navbar{

font-family:  Raleway;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 21px;



background: #ACB4BD;
border: 1px solid #C4C4C4;
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  
  width: 263px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

